@model easycredit.Models.Pago

@{
    ViewData["Title"] = "Detalle";
    ViewData["Seccion"] = "Pagos";
    Layout = "_Layout";
}

<h1>Detalle de pago</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Capital inicial
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapitalInicial)
        </dd>
       
        <dt class = "col-sm-2">
           Fecha efectiva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEfectiva)
        </dd>
        <dt class = "col-sm-2">
           Cuota
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuota)
        </dd>
        <dt class = "col-sm-2">
          Interes
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interes)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abono)
        </dd>
        <dt class = "col-sm-2">
           Saldo pendiente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amortizacion)
        </dd>
        <dt class = "col-sm-2">
           Cod. comprobante
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoComprobante)
        </dd>
       
       
        <dt class = "col-sm-2">
           Cod. prestamo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPrestamoNavigation.Codigo)
        </dd>
        <dt class = "col-sm-2">
         Modalidad pago
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModalidadNavigation.Tipo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa-solid fa-pen-to-square"></i>Editar</a> |
    <a class="nav-item" asp-action="Index">Volver al listado</a>
</div>
