@model IEnumerable<easycredit.Models.Garantium>

@{
    ViewData["Title"] = "Listado";
    ViewData["Seccion"] = "Garantia";
    Layout = "_Layout";
}

<h1>Listado de garantias</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="bi bi-plus-lg"></i> Agregar</a>
</p>
<table class="table table-hover table-striped">
  <caption>Listado de garantias</caption>
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
