@model easycredit.Models.Prestamo

@{
    ViewData["Title"] = "Editar";
    ViewData["Seccion"] = "Prestamos";
    Layout = "_Layout";
}

<h1>Editar prestamo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" readonly class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plazo" class="control-label"></label>
                <input asp-for="Plazo" class="form-control" />
                <span asp-validation-for="Plazo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TazaInteres" class="control-label">Taza interes anual</label>
                <input asp-for="TazaInteres" class="form-control" />
                <span asp-validation-for="TazaInteres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSolicitud" class="control-label">Fecha solicitud</label>
                <input asp-for="FechaSolicitud" class="form-control" />
                <span asp-validation-for="FechaSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="FechaAprovacion" type="hidden" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label">Fecha inicio</label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaTermino" class="control-label">Fecha termino</label>
                <input asp-for="FechaTermino" class="form-control" />
                <span asp-validation-for="FechaTermino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Cliente</label>
                <select asp-for="ClienteId" class="form-control">
                    <option value="0">-- Seleccionar --</option>
                    @foreach (var item in ViewBag.clientes)
                    {
                        <option value="@item.Id">@item.Nombre @item.Apellido</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="GaranteId" class="control-label">Garante</label>
                <select asp-for="GaranteId" class="form-control">
                    <option value="0">-- Seleccionar --</option>
                    @foreach (var item in ViewBag.garantes)
                    {
                        <option value="@item.Id">@item.Nombre @item.Apellido</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="GarantiaId" class="control-label">Garantia</label>
                <select asp-for="GarantiaId" class="form-control">
                    <option value="0">-- Seleccionar --</option>
                    @foreach (var item in ViewBag.garantias)
                    {
                        <option value="@item.Id">@item.Codigo</option>
                    }
                </select>
            </div>
            <div class="form-group">

                <input asp-for="FechaCreado" type="hidden" class="form-control" />

            </div>
            <div class="form-group">

                <input asp-for="FechaEditado" type="hidden" class="form-control" />

            </div>

            <div class="form-group">

                <input asp-for="Active" type="hidden" class="form-control" />

            </div>
            <div class="form-group">

                <input asp-for="Saldado" type="hidden" class="form-control" />

            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary"><i class="fa-solid fa-check"></i> Guardar</button>

                <a class="nav-item" asp-action="Index">Volver al listado</a>
            </div>
        </form>
    </div>
</div>


