@model easycredit.Models.Inversion

@{
    ViewData["Title"] = "Eliminar";
    ViewData["Seccion"] = "Inversion";
    Layout = "_Layout";
}

<h1>Eliminar inversion</h1>

<h3 class="text-warning">&#191; Esta seguro que desea eliminar esta inversion? <i class="text-danger">esta accion no se podra revertir!</i></h3>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            Interes mensual
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TazaInteres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plazo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plazo)
        </dd>
        <dt class = "col-sm-2">
         Fecha de inicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
          Fecha de termino
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTermino)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Delete" class="btn btn-danger"><i class="bi bi-trash3"></i> Eliminar</button> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
