@model IEnumerable<easycredit.Models.Inversion>

@{
    ViewData["Title"] = "Listado";
    ViewData["Seccion"] = "Inversion";
    Layout = "_Layout";
}

<h1>Listado de inversiones</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="bi bi-plus-lg"></i>Agregar</a>
</p>
<table class="table table-hover table-striped">
    <caption>Listado de inversiones</caption>
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
               Interes Mensual
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plazo)
            </th>
            <th>
             Fecha Inicio
            </th>
            <th>
               Fecha Termino
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TazaInteres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plazo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaTermino)
                </td>
    
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    <div class="btn-group btn-sm" role="group" aria-label="Basic example">
                        <a class="btn btn-warning ml-1  btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Editar</a>
                        <a class="btn btn-info ml-1  btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-info"></i> Detalle</a>
                        <a class="btn btn-danger ml-1 btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i> Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
