@model easycredit.Models.PagoInversion

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>PagoInversion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapitalInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapitalInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPlanificada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPlanificada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEfectiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEfectiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amortizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amortizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoComprobante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoComprobante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEditado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEditado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEliminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEliminado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCreador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCreador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioEliminador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioEliminador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioEditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioEditor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoInversionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoInversionNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModalidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModalidadNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
