@model IEnumerable<easycredit.Models.Pago>

@{
    Layout = null;
      Layout = null;
    ViewData["Title"] = "Cuotas";
    ViewData["Seccion"] = "Prestamos";
    int numero = 0;
    int? plazo = 0;
    int? pendientes = 0;
    var cliente = "";
    double monto = 0;
    double total = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Reporte Cuotas - Easycredit</title>
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/easycredit.styles.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- Custom styles for this template-->
</head>
<body>

<h1 class="text-center">Tabla de cuotas</h1>


<table class="table table-hover table-striped">
    <caption>Tabla de Cuotas</caption>
    <thead class="table-dark">
        <tr>
            <th>
                #.
            </th>
            <th>
                Fecha Efectiva
            </th>
            <th>
                Capital inicial
            </th>


            <th>
                Cuota
            </th>
            <th>
                Interes
            </th>
            <th>
                Abono
            </th>
            <th>
                Saldo Pendiente
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                @{
                    numero++;
                }
                <td>
                    @numero
                </td>
                <td>
                    @Html.DisplayFor(model => item.FechaEfectiva)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CapitalInicial)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Cuota)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Interes)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Abono)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Amortizacion)
                </td>
                @{
                    plazo = item.CodigoPrestamoNavigation.Plazo;
                    cliente = item.CodigoPrestamoNavigation.Cliente.Nombre;
                    monto = (double)item.CodigoPrestamoNavigation.Monto;
                    total = Math.Round((double)item.Amortizacion,2);
                }
            </tr>
        }
    </tbody>
</table>
@{
    pendientes = plazo - numero;
}
<div class="row">
    <h2 class="text-black-50">Datos</h2>
    <div class="col-3">
<h4 class="text-danger">Pendientes: <i class="text-black-50">@pendientes</i></h4>
<h4>Cliente: <i class="text-black-50">@cliente</i></h4>

</div>
 <div class="col-6">
<h4 class="">Monto prestamo: <i class="text-black-50">@monto</i></h4>
<h4>Total pagado: <i class="text-black-50">@total</i></h4>

</div>

</div>


</body>
<script>

    window.addEventListener('load',()=>{
        setTimeout(()=>{
            print();
        },1500)
    })
</script>
</html>